<nav class="navbar navbar-light bg-light.bg-gradient mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">TAREAS</a>
    <img src="https://www.flaticon.com/svg/vstatic/svg/3914/3914413.svg?token=exp=1654038858~hmac=73f9da8482fcd51c34674acce3cc01f8" alt="..." height="30">
  </div>
</nav>